server:
  port: 8004

spring:
  profiles:
    active: dev
#eureka集群
eureka:
  client:
    register-with-eureka: false
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7001/eureka,http://localhost:7002/eureka

logging:
  level:
    com.test.springcloud.service.PaymentService: debug
ribbon:
  ReadTimeout: 5000
  ConnectTimeout: 5000
feign:
  httpclient:
    enabled: true