server:
  port: 8801 #服务端口
#spring相关配置
spring:
  application:
    name: mcroservice-payment  #服务名
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource  #当前数据源操作类型
    driver-class-name: org.gjt.mm.mysql.Driver  #数据库驱动包
    url: jdbc:mysql://rm-bp1pka5gsnvb71e2oyo.mysql.rds.aliyuncs.com:3306/jdbc
    username: root
    password: EMRtest1234!
#mybatis:配置
mybatis:
  mapperLocations: classpath:dao/*.xml
  type-aliases-package: pojo    # 所有pojo别名类所在包